h2 {
	color: #ffffff;
	font-size: 64px;
	margin-top: 20px;
  margin-bottom: 15%;
  width: 20%;
	display: block;
}
div{
  width: 83%;
}

@media screen and (max-width: 768px){

	h2 {
		display: flex;
	}

}