h2 {
  color: #ffffff;
  font-size: 64px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 20%;
  display: block;
  height: 100%;
}
#more-specific {
  width: 21%;
}
div {
  width: 83%;
}

@media screen and (max-width: 768px) {
  h2 {
    display: flex;
  }
}

@media screen and (max-width: 350px) {
  h2 {
    margin: 0;
    text-align: center;
    width: 33%;
  }
}
